<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    
    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div>
            <h1>Sobre mim</h1>
            <p>Oi! Sou Lucas, estudante de programação da Rockeaseat!</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>

</html>